# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# skip any local logs
*.log

.idea/
.env*
/uploads/*

/.gitlab-ci.yml


logs
tmp
*.db
/config/initial_dev_test.sql
