{{ template "header_auth" . }}
{{ template "js_timestamp_converter" . }}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

        <h2>{{ .Title }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <!-- th>TgUserID</th -->
                    <th>UserName</th>
                    <!-- th>ChatID</th -->
                    <th>Text</th>
                    <th>tg date</th>
                    <th>server date</th>
                </tr>
            </thead>
            <tbody>
                {{range .tgMsgs}}
                <tr>
                    <!-- td>{{.TgUserID}}</td -->
                    <td>{{.UserName}}</td>
                    <!-- td>{{.ChatID}}</td -->
                    <td>{{.Text}}</td>
                    <td class="timestamp">{{.Date}}</td>
                    <td class="timestamp">{{.AddedTimestamp}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
{{ template "footer" . }}
