{{ template "header_auth" . }}
{{ template "js_timestamp_converter" . }}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
        <h2>Web Users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
                {{range .webUsers}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Username}}</td>
                    <td>{{.Role}}</td>
                    <td class="timestamp">{{.AddedTimestamp}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <a href="/web_users/add" class="btn btn-primary">Add New User</a>
{{ template "footer" . }}
